.is-invalid {
  border: 2px solid crimson !important;
  background-color: pink;

  &::placeholder {
    color: crimson;
  }
}

.invalid {
  color: crimson;
  margin-top: 6px;
}

.input-wrapper {
  margin-bottom: 16px;
}
