.btn {
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: #ddd;
  border-radius: 4px;
  margin: 0px 3px;
  border: none;
  cursor: pointer;
}

img {
  width: 20px;
}

.error-message {
  color: crimson;
  margin-top: 5rem;
  text-align: center;
}

.image-link {
  color: #4169e1;
  display: inline-flex;
  gap: 0.15rem;
}

.btn-primary {
  background-color: #0abde3;
  &:hover {
    background-color: #48dbfb;
  }
}

.btn-danger {
  background-color: #ee5253;
  &:hover {
    background-color: #ff6b6b;
  }
}

.btn-warning {
  background-color: #ff9f43;
  &:hover {
    background-color: #feca57;
  }
}

.btn-info {
  background-color: #2e86de;
  &:hover {
    background-color: #54a0ff;
  }
}

.btn-sm {
  padding: 5px;
  font-size: 12px;
  border-radius: 2px;
}

.active {
  color: green;
}

.unactive {
  color: #ff6b6b;
}

.loader {
  width: 15px;
  margin-top: 13rem;
  margin-inline: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}
